@model IEnumerable<EsquemaDinamico.Data.Tabla>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Name">Details</a> 
                | <a asp-action="Index" asp-controller="Esquema" asp-all-route-data="@(new Dictionary<string, string> { { "table", item.Name } })" >Edit</a> |
                @*
        <a asp-action="Edit" asp-route-id="@item.Name">Edit</a> |
        |
        <a asp-action="Delete" asp-route-id="@item.Name">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>

